<div class="row">
  <div class="col-sm-6 col-md-6 main">
    <div class="card">
      <h3 class="page-header">Dashboard</h1>

      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group" ng-repeat="stream in streams">
          <button type="button" class="btn btn-default" ng-bind="stream.display_name" ng-click="selectStream(stream)"></button>
        </div>
      </div>

      <div class="chart">
        <div google-chart chart="chartObject" class="chart-content"></div>
      </div>

      <br>
      <span>{{datetime| date: 'HH:mm:ss'}}</span>
      <br><br>
      <div class="row text-center">
        <img  class="text-center" src="img/emaiot/EMA-IoT-Details.png" style="width:80%; max-width:400px;">
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-6 placeholder web-rtc">
    <div class="card">
      <h3 class="page-header">Conference</h3>
      <!--<img  class="rtc-placeholder" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-responsive" alt="Generic placeholder thumbnail">-->
      <section id="main" role="main" class="clearfix">

          <div id="message" class="alert alert-info clearfix"></div>
          <div id="errormessage" class="alert alert-danger"></div>
          <div id="view" class="clearfix">
            <h3 class="text-center">&nbsp;&nbsp;&nbsp;Loading...&nbsp;&nbsp;&nbsp;</h3>
            <br/>
            <br/>
            <br/>
          </div>

      </section>
    </div>
  </div>

</div>
